#!/bin/bash
# /opt/minecraft/server2/manager.config


### Important Names

# A short name representation for this server, used for consistent directory names:
SERVER_NAME="server2"

# Name to use for the screen instance (must be unique system wide):
SCREEN_NAME="minecraft2"

# User that should start and interact with the server
SERVER_USER="minecraft"


### Server Directories

# Path to minecraft directory:
SERVER_PATH="/opt/minecraft/${SERVER_NAME}"

# Where the worlds are located on the disk. Can not be the same as SERVER_PATH:
WORLD_STORAGE_PATH="${SERVER_PATH}/worldstorage"

# Path to plugin folder:
SERVER_PLUGIN_PATH="${SERVER_PATH}/plugins"


### Backups and Archives

# When a snapshot (backup) is created of a world it will be stored in this directory
WORLD_SNAPSHOT_PATH="/mnt/Drobo/Public/Shares/Backups/Minecraft/WorldBackups/${SERVER_NAME}"

# When the server log is compressed and archived, it is stored here:
LOG_ARCHIVE_PATH="/mnt/Drobo/Public/Shares/Backups/Minecraft/Logs/${SERVER_NAME}"

# When a complete backup of the entire server directory is make, it is stored here:
COMPLETE_BACKUP_PATH="/mnt/Drobo/Public/Shares/Backups/Minecraft/WholeBackups/${SERVER_NAME}"

# Symbolic links usually point to large or centralised files which should not be
# included in a complete backup of this singular server.
# options: true, false
COMPLETE_BACKUP_FOLLOW_SYMLINKS=false

# When a backup of Bukkit plugin config files is made, it is stored here:
CONFIG_BACKUP_PATH="/mnt/Drobo/Public/Shares/Backups/Minecraft/ConfigBackups/${SERVER_NAME}"

# The pattern used to search for config files within the plugin directory
CONFIG_BACKUP_PATTERN="*.yml"


### Speedy Ramdisk

# options: true, false
RAMDISK_ENABLED=true

# Path to a directory located in the mounted ramdisk.
# The default mount point in Ubuntu is: /dev/shm
RAMDISK_PATH="/dev/shm/Minecraft/$SERVER_NAME"


### Jar configuration

# Location of the server jar to run (minecraft_server.jar, bukkit.jar etc.):
JAR="${SERVER_PATH}/server.jar"

# The amount of memory the server will use when started:
INITAL_MEMORY="2048M"

# The maximum amount of memory the server can use at any time:
MAXIMUM_MEMORY="2048M"

# Number of CPUs/cores to use at runtime:
CPU_COUNT=2

# The command which launches the Minecraft server using the variables
# provided thus far:
INVOCATION="java -Xmx$MAXMEM -Xms$INITMEM -XX:+UseConcMarkSweepGC -XX:+CMSIncrementalPacing -XX:ParallelGCThreads=${CPU_COUNT} -XX:+AggressiveOpts -jar $JAR nogui"


### Configuration

# The amount of time (in seconds) between broadcasting to players
# the message MESSAGE_SERVER_STOP_WARNING (see below) and the server actually
# shutting down:
CONFIG_SERVER_STOP_DELAY=10

CONFIG_SERVER_RESTART_DELAY=10

CONFIG_SERVER_LOG_ROLL_RESTART_DELAY=10


### Messages

# The message displayed to players when gracefully shutting down the server.
# The server shuts down (after this message is broadcast) following a delay
# specified in CONFIG_SERVER_STOP_DELAY
MESSAGE_SERVER_STOP_WARNING="SERVER SHUTTING DOWN IN 10 SECONDS!"

MESSAGE_SERVER_RESTART_WARNING="SERVER REBOOT IN 10 SECONDS!"

MESSAGE_SERVER_LOG_ROLL_RESTART_WARNING="ROUTINE REBOOT IN 10 SECONDS!"

MESSAGE_SERVER_WORLDS_BACKUP_STARTED="Backing up world."
MESSAGE_SERVER_WORLDS_BACKUP_FINISHED="Backup complete."

MESSAGE_SERVER_COMPLETE_BACKUP_STARTED="Backing up entire server."
MESSAGE_SERVER_COMPLETE_BACKUP_FINISHED="Backup complete."


### Stuff that probably wont need changing

# The location of the standard Minecraft log file
SERVER_LOG="${SERVER_PATH}/server.log"

CONFIRMATIONS_SAVE_ON="CONSOLE: Enabling level saving.."
CONFIRMATIONS_SAVE_OFF="CONSOLE: Disabling level saving.."
CONFIRMATIONS_SAVE_ALL="CONSOLE: Save complete."
CONFIRMATIONS_START="Done"