#!/bin/bash
# /opt/minecraft/server2/manager.config


### Important Names

# A short name representation for this server, used for consistent directory names:
SERVER_NAME="server2"

# Name to use for the screen instance (must be unique system wide):
SCREEN_NAME="minecraft2"

# User that should start and interact with the server
SERVER_USER="minecraft"


### Server Directories

# Path to minecraft directory:
SERVER_PATH="/opt/minecraft/${SERVER_NAME}"

# Where the worlds are located on the disk. Can not be the same as SERVER_PATH:
WORLD_STORAGE_PATH="${SERVER_PATH}/worldstorage"

# Path to plugin folder:
SERVER_PLUGIN_PATH="${SERVER_PATH}/plugins"


### Backups and Archives

# When a snapshot (backup) is created of a world it will be stored in this directory
WORLD_SNAPSHOT_PATH="/mnt/Drobo/Public/Shares/Backups/Minecraft/WorldBackups/${SERVER_NAME}"

# When the server log is compressed and archived, it is stored here:
LOG_ARCHIVE_PATH="/mnt/Drobo/Public/Shares/Backups/Minecraft/Logs/${SERVER_NAME}"

# When a complete backup of the entire server directory is make, it is stored here:
COMPLETE_BACKUP_PATH="/mnt/Drobo/Public/Shares/Backups/Minecraft/WholeBackups/${SERVER_NAME}"

# Symbolic links usually point to large or centralised files which should not be
# included in a complete backup of this singular server.
# options: true, false
COMPLETE_BACKUP_FOLLOW_SYMLINKS=false

# When a backup of Bukkit plugin config files is made, it is stored here:
CONFIG_BACKUP_PATH="/mnt/Drobo/Public/Shares/Backups/Minecraft/ConfigBackups/${SERVER_NAME}"

# The pattern used to search for config files within the plugin directory
CONFIG_BACKUP_PATTERN="*.yml"


### Speedy Ramdisk

# options: true, false
RAMDISK_ENABLED=true

# Path to the the mounted ramdisk default in Ubuntu: /dev/shm
RAMDISK_PATH="/dev/shm"


### Jar configuration

# Location of the server jar to run (minecraft_server.jar, bukkit.jar etc.):
JAR="${SERVER_PATH}/server.jar"

# The amount of memory the server will use when started:
INITAL_MEMORY="2048M"

# The maximum amount of memory the server can use at any time:
MAXIMUM_MEMORY="2048M"

# Number of CPUs/cores to use at runtime:
CPU_COUNT=2

# The command which launches the Minecraft server using the variables
# provided thus far:
INVOCATION="java -Xmx$MAXMEM -Xms$INITMEM -XX:+UseConcMarkSweepGC -XX:+CMSIncrementalPacing -XX:ParallelGCThreads=${CPU_COUNT} -XX:+AggressiveOpts -jar $JAR nogui"