#!/bin/bash

# User which manages all servers
SERVER_USER="minecraft"

# A base path to use in the rest of this config file (if you choose)
STORAGE_PATH="/opt/msm"

# Where new servers are stored
SERVERS_PATH="${STORAGE_PATH}/servers"

# Where RAM enambled worlds are stored
RAMDISK_PATH=""

# Where runnable jar files for use by servers are stored
JAR_PATH="${STORAGE_PATH}/jars"

# Where "WorldEdit snapshot" compatible world backups are stored
WORLD_ARCHIVE_PATH="${STORAGE_PATH}/archives/worlds"

# Where archived logs are stored
LOG_ARCHIVE_PATH="${STORAGE_PATH}/archives/logs"

# Where compelte server backups are stored
BACKUP_ARCHIVE_PATH="${STORAGE_PATH}/archives/backups"