<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title_prefix }}{{ page.title }}{{ page.title_postfix }}</title>
    <meta name="description" content="">
    <meta name="author" content="Marcus Whybrow">
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-responsive.min.css">
  </head>
  <body class="{% if page.tab %}section-{{ page.tab }}{% endif %}">

  	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ site.baseurl }}/">MSM</a>
          <ul class="nav">
            <li{% if page.tab == "overview" %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Overview</a></li>
            <li{% if page.tab == "blog" %} class="active"{% endif %}><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li{% if page.tab == "docs" %} class="active"{% endif %}><a href="{{ site.baseurl }}/docs/">Docs</a></li>
            <li><a href="https://github.com/msmhq/msm/issues">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container content">
      
{{ content }}
    
      {% if page.footer != 'hide' %}
        <footer class="footer">
          <p>Code licensed under the <a class="ga-track" href="https://www.gnu.org/copyleft/gpl.html" target="_blank">General Public Licence v3</a>. Documentation licensed under <a class="ga-track" href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
          <p>You may have noticed this design approach is a shamless reworking of <a class="ga-track" href="https://twitter.github.com/bootstrap/">Twitter's Bootstrap</a> github page.</p>
          <p>Icons from <a class="ga-track" href="https://glyphicons.com">Glyphicons Free</a>, licensed under <a class="ga-track" href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        </footer>
      {% endif %}
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.3/bootstrap.min.js"></script>

    <script type="text/javascript">
      // jquery-1.7.2.min.js local fallback
      typeof jQuery == 'undefined' && document.write('<script src="{{ site.baseurl }}/assets/js/jquery-1.7.2.min.js" type="text/javascript"><\/script>');
      // bootstrap.min.js local fallback
      typeof jQuery != 'undefined' && typeof jQuery.fn.modal == 'undefined' && document.write('<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js" type="text/javascript"><\/script>');
    </script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/index.js"></script>

    <!-- Google Plus Buttons -->
    <script type="text/javascript">
      window.___gcfg = {lang: 'en-GB'};
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </body>
</html>
